*{
    margin: 0%;
    padding: 0%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.wrap{
    margin: 0%;
    padding: 0%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: black;
    
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    
}


.header{
    /* left: 10%; */
    top: 0;
    width: 100%;
    height: 5%;
    position: sticky;
    background-color: #F5EDE0;
    display: flex;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    

}

h1{
    font-family:cursive;
}

.tieude{
    flex: 1;
    align-self: center;
}
#myText {
    color: red;
    transition: 1s;
  }
.thumuc{
    display: flex;
    justify-content: space-around;
    flex: 3;
    align-self: center;
}
h1:hover{
    color: white;
    cursor: pointer;
    transition: 1s;
}

h3:hover{
    color: #b98225;
    transition: 1s;
    cursor: pointer;
}

.login{
    flex: 1;
    align-self: center;
}


.login>button{
    width: 90px;
    height: 50px;
    background-color: #F5EDE0;
   font-size: 20px;
    border: 0;
}

.login>button:hover{
    border: 1px solid black;
    background-color: #FDD284;
    transition: 1s;
    border-radius: 40%;
    color: white;
}


.bodyy{
    width: 100%;
    height: 100%;
    background-color: bisque;
    display: flex;
    
}

.nav{
    width: 20%;
    height: 100%;
    background-color: #D3BFB7;
    /* position: absolute; */
}
.section{
    width: 100%;
    height: 100%;
    background-color: #F9F6EF;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.xacnhan{
    position: absolute;
    width: 30%;
    height: 40%;
    top: 20%;
    background-color: bisque;
    left: 30%;
    display: none;
    animation: show 1s ease;
}


.footer{
    width: 100%;
    height: 20%;
    background-color: #FDCEC4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@keyframes  show{
    from{
        top: 5%;
    }
    to{
        top: 20%;
    }
}

.formm{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: first baseline; */
    /* margin-top: 10%; */
}

.tuychinh{
    margin-top: 5%;

}

.input{
    width: 100%;
}

.subbmit{
    width: 100%;
    height: 30%;
    display: flex;
    /* flex-direction: column; */
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
}

.subbmit>button{
    width: 90px;
    height: 50px;
    /* border-radius: 15%; */
    border: 0;
    background-color: bisque;
    font-size: 19px;
    cursor: pointer;

}

.subbmit>button:hover{
    color: white;
    background-color: orange;
    transition: 1s ease;
    border-radius: 50%;
    /* font-size: 20px; */
}

.subbmit>button:active{
   filter: brightness(10%);
}